<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a>
                    Quiz Questions
                </a>
            </li>
            <li>
                <a (click)="setQuestionNumber(1)">Question 1</a>
            </li>
            <li>
                <a (click)="setQuestionNumber(2)">Question 2</a>
            </li>
            <li>
                <a (click)="setQuestionNumber(3)">Question 3</a>
            </li>
            <li>
                <a (click)="setQuestionNumber(4)">Question 4</a>
            </li>
            <li>
                <a (click)="setQuestionNumber(5)">Question 5</a>
            </li>
            <li>
                <a (click)="setQuestionNumber(6)">Question 6</a>
            </li>
            <li>
                <a (click)="setQuestionNumber(7)">Question 7</a>
            </li>
            <li>
                <a (click)="setQuestionNumber(8)">Question 8</a>
            </li>
            <li>
                <a (click)="setQuestionNumber(9)">Question 9</a>
            </li>
            <li>
                <a (click)="setQuestionNumber(10)">Question 10</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{quizHeader}}</h1>
                    <p>{{quizDescription}}</p>
                    <h3 class="m-t-50">Question {{questionNumber}}</h3>
                    <div class="mb-3">
                        <label for="FormControlInput" class="form-label">Question</label>
                        <input type="text" class="form-control" id="FormControlInput" [(ngModel)]="question">
                    </div>
                    <div class="mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1"
                                [(ngModel)]="isFirstAnswerCorrect">
                            <label class="custom-control-label darkgray" for="customCheck1">Please fill in answer input
                                and tick
                                if correct answer.</label>
                            <input type="text" class="form-control" [(ngModel)]="firstAnswer">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2"
                                [(ngModel)]="isSecondAnswerCorrect">
                            <label class="custom-control-label darkgray" for="customCheck2">Please fill in answer input
                                and tick
                                if correct answer.</label>
                            <input type="text" class="form-control" [(ngModel)]="secondAnswer">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck3"
                                [(ngModel)]="isThirdAnswerCorrect">
                            <label class="custom-control-label darkgray" for="customCheck3">Please fill in answer input
                                and tick
                                if correct answer.</label>
                            <input type="text" class="form-control" [(ngModel)]="thirdAnswer">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck4"
                                [(ngModel)]="isFourthAnswerCorrect">
                            <label class="custom-control-label darkgray" for="customCheck4">Please fill in answer input
                                and tick
                                if correct answer.</label>
                            <input type="text" class="form-control" [(ngModel)]="fourthAnswer">
                        </div>
                    </div>
                    <button (click)="newQuestionAndAnswers()" class="btn btn-success float-right">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->