<div class="modal-header">
    <h4 class="modal-title">{{my_modal_title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <img class="random-modal-img" src="{{quizPic}}" alt="">
        <div class="col-12">
            <div class="form-group">
                <label for="FormControlInput1">Quiz Name</label>
                <input type="email" class="form-control" id="FormControlInput1" placeholder="Enter quiz name"
                    [(ngModel)]="quizName" maxlength="50">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="FormControlInput2">Quiz Description</label>
                <textarea class="form-control" rows="3" id="FormControlInput2" placeholder="Enter quiz description"
                    [(ngModel)]="quizDesc" maxlength="150"></textarea>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="FormControlSelect1">Type of Quiz</label>
                <select class="form-control" id="FormControlSelect1" [(ngModel)]="quizType">
                    <option value="1">English</option>
                    <option value="2">Maths</option>
                    <option value="3">Science</option>
                    <option value="4">ICT</option>
                    <option value="5">History</option>
                    <option value="6">Physical Education</option>
                    <option value="7">Geography</option>
                    <option value="8">Foreign Languages</option>
                    <option value="9">Design & Technology</option>
                    <option value="10">Art & Design</option>
                    <option value="11">Music</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="isEdit" type="button" class="btn btn-outline-danger" mwlConfirmationPopover
        [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteQuiz()"
        (cancel)="cancelClicked = true">Delete</button>
    <button *ngIf="isEdit" type="button" class="btn btn-outline-success" (click)="editQuiz()">Save</button>
    <button *ngIf="!isEdit" type="button" class="btn btn-outline-primary" (click)="saveNewQuiz()">Next</button>
</div>