.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.random-modal-img {
    width: 70% !important;
    margin: auto;
    margin-bottom: 30px;
}

.white {
    color: white !important;
}